{% extends 'base.html' %}

{% block content %}

    {% if filtered %}
        Showing grades from lecturer {{ filtered|safe }}
    {% endif %}
    <table>
        <tr>
            <th>Lecturer</th>
            <th>Lecture</th>
            {% if user.groups.all.0.name == "lecturer" %}
                <th>Student</th>
            {% endif %}
            <th>Grade</th>
            <th>Submission</th>
            <th>Comment</th>
        </tr>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.lecture.lecturer }}</td>
                <td>{{ grade.lecture }}</td>
                {% if user.groups.all.0.name == "lecturer" %}
                    <td>{{ grade.student }}</td>
                {% endif %}
                <td>{{ grade.grade }}</td>
                <td>{{ grade.submission }}</td>
                <td>{{ grade.comment|safe }}</td>
                <td>
                    {% if user.groups.all.0.name == "student" %}
                        <a href="{% url "grades:edit" grade.id %}">Comment</a>
                    {% endif %}
                    {% if user.groups.all.0.name == "lecturer" or user.groups.all.0.name == "admin" %}
                        <a href="{% url "grades:edit" grade.id %}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No grades yet</td>
            </tr>
        {% endfor %}
    </table>

    {% if user.groups.all.0.name == "student" %}
        <form method="get">
            {{ filter_lecturer }}
            <input type="submit">
        </form>
    {% endif %}

    {% if lecturer %}
        <button>
            <a href="{% url "grades:create" %}">New Grade</a>
        </button>
    {% endif %}

{% endblock %}