<nav>
    <div class="nav-menu">
        <ul>
            <li><a href="/"><b>DVCMS</b></a></li>
            <li><a href="{% url "grades:list" %}">Grades</a></li>
            {% if user.groups.all.0.name == "lecturer" %}
                <li><a href="{% url "lectures:list" %}">Lectures</a></li>
                <li><a href="{% url "students:list" %}">Students</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li>{{ user.username }} | {{ user.groups.all.0.name }}</li>
                <li><a href="{% url "insecureauth:logout" %}">Logout</a></li>
            {% else %}
                <li><a href="{% url "insecureauth:login" %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <hr>
</nav>