{% extends 'base.html' %}

{% block content %}

    {% if question %}
        {{ question }}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    {% else %}
        {% if error %}
            {{ error }}
        {% endif %}
        <form method="get">
            <label for="username">Username</label>
            <input type="text" name="username">
            <input type="submit">
        </form>
    {% endif %}

{% endblock %}